.container-login {
    width: 90%;
    max-width: 400px;
    min-height: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 3px 1px rgb(129, 131, 143);
}

.logo-login img {
    width: 60%;
}

.container-input-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.input-login img {
    width: 10%;
    min-width: 24px;
}

.input-login input {
    width: 80%;
    background: none;
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid black;
}

.olvide-pass {
    width: 100%;
    text-align: right;
}

.olvide-pass a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.container-iniciar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-iniciar button {
    width: 80%;
    min-height: 3rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #4caf50; /* Cambia a un tono verde agradable */
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease,
        box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.container-iniciar button:hover {
    cursor: pointer;
    background-color: #45a049; /* Un tono más oscuro al hacer hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    transform: translateY(-2px); /* Efecto de elevar al pasar el ratón */
}

.container-iniciar button:active {
    background-color: #3e8e41; /* Cambia a un tono más oscuro cuando se presiona */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Vuelve a la sombra inicial */
    transform: translateY(0); /* Restablece la posición al hacer clic */
}

@media (min-width: 768px) {
    .container-login {
        width: 50%;
    }

    .container-iniciar button {
        width: 60%;
    }
}
